<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cheng.com.android.cunghoangdao">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_LOCATION_PROVIDER" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name=".activities.startscreen.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.maincreen.MainActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".activities.maincreen.MainScreenActivity"></activity>
        <activity android:name=".activities.viewing.ViewingActivity"></activity>
        <activity android:name=".activities.category.CategoryActivity"></activity>
        <activity android:name=".activities.offline.OfflineActivity"></activity>
    </application>

</manifest>
